{% extends "base.html" %}
{% load static %}
{% block body_content %}
<div class="col-sm-6 col-lg-6 col-lg-offset-3">
	<div id="register-wraper">
		<form id="register-form" method="POST" class="form">
			{% csrf_token %}
			<legend>{{title}}</legend>
			
			<div class="body">
				<p>
					<label for="name">Nome</label>
					<input name="name" class="input-huge" type="text" placeholder="Nome completo" value={{ user_name }}>
				</p>
				{{ error_nome }}
				<p>
					<label for="cellphone">Celular</label>
					<input name="cellphone" class="input-huge" type="tel" placeholder="ex: +5511941040588" value={{ user_cellphone }}>
				</p>
				{% autoescape off %}
				{{ error_cel }}
				{% endautoescape %}
			</div>
		
			<div class="footer py-30">
				<button type="submit" class="btn btn-success">{{title}}</button>
			</div>
		</form>
	</div>
</div>
{% endblock body_content %}