{% extends "base.html" %}
{% load static %}
{% block body_content %}
<div class="container">
	<div class="row">

		<div class="col-lg-6 col-lg-offset-3">
			
			<div class="register-info-wraper">
				<div id="register-info">
					<div class="cont2">
						<div class="thumbnail">
							{% if user_photo %}
								<img src='{{ user_photo }}' alt="{{ user_name }}" class="img-circle">
							{% else %}
								<img src="{% static 'images/face.jpg' %}" alt="{{ user_name }}" class="img-circle">
							{% endif %}
						</div><!-- /thumbnail -->
						<h2> {{ user_name }}</h2>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="cont3 py-30">
								<p><ok>Nome:</ok> {{ user_name }}</p>
								<p><ok>Celular:</ok> {{ user_cellphone }}</p>
								<p><ok>Código</ok> {{ user_code_number }}</p>
								<p><ok>Registrado:</ok> {{ user_created }}</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="cont3">
							</div>
						</div>
					</div><!-- /inner row -->
					<hr>
					<div class="cont2">
						<h2>Informes</h2>
					</div>
					<div class="col-lg-12">
						<div class="cont3 py-30">
							<p><ok>Vazão</ok> {{ user_name }}</p>
							<p><ok>Faltante beber</ok> {{ user_cellphone }}</p>
							<p><ok>Total diária</ok> {{ user_cellphone }}</p>
						</div>
					</div>
					<div class="info-user2">
						<span aria-hidden="true" class="li_camera fs1"></span>
						<span aria-hidden="true" class="li_pen fs1"></span>
						<span aria-hidden="true" alt="sair" class="li_lock fs1"></span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock body_content %}}