{% extends "base.html" %}
{% load static %}
{% block body_content %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<div class="register-info-wraper">
				<div id="register-info">
					<div class="cont2">
						<div class="thumbnail">
							{% if user_photo %}
								<img src="{{ user_photo.url }}" alt="{{ user_name }}" class="img-circle" style="width: 150px; height:150px;">
							{% else %}
								<img src="{% static 'images/images.jpeg' %}" alt="{{ user_name }}" class="img-circle" style="width: 150px; height:150px;">
							{% endif %}
						</div><!-- /thumbnail -->
						<h2> {{ user_name }}</h2>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="cont3 py-30">
								<span id="user_id" style="display:none">{{ user_id }}</span>
								<p><ok>Nome:</ok> {{ user_name }}</p>
								<p><ok>Celular:</ok> {{ user_cellphone }}</p>
								<p><ok>Código</ok> {{ user_code_number }}</p>
								<p><ok>Registrado:</ok> {{ user_created }}</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="cont3">
							</div>
						</div>
					</div><!-- /inner row -->
					<hr>
					<div class="row">
					<div class="col-lg-12">
						<div class="cont3">
							<p class="text-center">
								<ok>Olá </ok>{{ user_name }}
								<ok> sejá bem vindo!<br> Aperte no relógio para selecionar <wbr>a quantidade da água.</ok></p>
							<p><ok>Quantidade de água</ok><span  id="qtd_liquido"></span> <span> ml<span></p>
							<p><ok>Faltante beber</ok><span id="qtd_faltante"></span> <span> ml<span></p>
							<p><ok>Total diária</ok> <span id="qtd_total_diario">{{ user_total_agua_diaria }}</span><span> ml<span></p>
							<br/><br/>
							<p class="text-center"><ok></ok></p>
						</div>
					</div>
					<div class="info-user2">
						<a href="{% url 'edit' user_code_number %}">
							<span aria-hidden="true" class="li_pen fs1"></span>
						</a>
						<span aria-hidden="true" data-toggle="modal" data-target="#set_time_modal" class="li_clock fs1"></span>
						<a href="{% url 'login' %}">
							<span aria-hidden="true" alt="sair" class="li_lock fs1"></span>
						</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'modal_content.html' %}
{% include "alert.html" %}

<script src={{ script }}></script>
{% endblock body_content %}}